.alert-danger {
    margin-top: 5vh;
}

.btn-submit, .first {
    margin-top: 2vh;
}

.card {
    text-align: center;
}

.header {
    margin-bottom: 5vh;
    margin-top: 2vh;
}

button[type="submit"] {
    margin-top: 1vh;
    margin-left: 1vh;
}

.align-text-center {
    text-align: center;
}

.btn {
    border-radius: 30px;
}

.container {
    margin-top: 2vh;
}