{% extends "layout_registered.html" %}

{% block title %}
Change password
{% endblock %}

{% block content %}
<div class="container d-flex flex-column flex-wrap">
    <h1>Change password</h1>
    
<div class="row d-flex flex-row flex-wrap justify-content-center mt-3">
    <div class="col-xl-12 align-items-center">
        <form action="/change_password" method="post">
            <label for="old" class="form-label">Old password</label>
            <input required type="password" name="old" autocomplete="off" placeholder="Old password" id="old" class="password form-control">
            <label for="new" class="form-label mt-2">New password</label>
            <input required type="password" name="new" autcomplete="off" placeholder="New password" id='new' class="password form-control">
            <label for="confirmation" class="form-label mt-2">Confirmation</label>
            <input required type="password" name="confirmation" autocomplete="off" placeholder="Confirmation" id="confirmation" class="password form-control">
            <div style="text-align: center;">
                <button class="btn btn-success btn-submit" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}